.m-header {
  font-size: 1.25em;

  h1 {
    font-size: 1.25em;
  }

  @include breakpoint(medium) {
    font-size: 1.75em;
    width: 75%;
  }

  &--lead {
    font-size: 2em;

    a {
      text-decoration: none;
      transition: color .3s;
      color: lighten($default-font-color, 50%);

      &:hover {
        text-decoration: underline;
        color: $default-font-color;
      }
    }

    @include breakpoint(medium) {
      font-size: 2.5em;
      width: 75%;
    }

    @include breakpoint(large) {
      font-size: 3em;
    }
  }
}