.m-header {
  font-size: 1.5em;

  h1 {
    font-size: 1.25em;
  }

  @include breakpoint(medium) {
    font-size: 1.75em;
    width: 75%;
  }

  &--lead {
    font-size: 2em;

    @include breakpoint(medium) {
      font-size: 2.5em;
      width: 75%;
    }

    @include breakpoint(large) {
      font-size: 3em;
    }
  }
}