$l: '.l-body';

* {
  color: $default-font-color;
}

#{$l} {
  width: 100%;
  font-size: $default-font-size;
  line-height: $default-line-height;
  //text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  font-family: $default-font;
  //letter-spacing: 1px;
  @media (max-width: $break_xsmall) {
    font-size: .8em;
  }
}

#{$l}--container {
  width: 80%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 1em;
  padding-top: 2em;
  @media (max-width: $break_large) {
    width: 100%;
  }
  @media (max-width: $break_xsmall) {
    padding-top: 0em;
  }
}