//I know this is gross but I cant 
//get compass to run so eh
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
      -ms-#{$name}: #{$argument};
     -moz-#{$name}: #{$argument};
       -o-#{$name}: #{$argument};
          #{$name}: #{$argument};
}

//This is also gross but I cant 
//get compass to run so staph
@mixin value-prefix($name, $argument) {
  #{$name}: -webkit-#{$argument};
  #{$name}:     -ms-#{$argument};
  #{$name}:    -moz-#{$argument};
  #{$name}:      -o-#{$argument};
  #{$name}:         #{$argument};
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%hover {
  &:hover {
    font-style: italic;
    color: $hover-font-color;
  }
}