.l-body {
  -webkit-font-smoothing: antialiased;

  color: $default-font-color;
  background-color: $default-bg-color;

  max-width: calculateRem(1080px);

  font-family: $clear;
  font-size: 1em;
  margin: 0 auto;
  position: relative;
  padding-left: 1em;
  padding-right: 1em;

  img,
  video {
    width: 100%;
    margin-bottom: 1em;
  }

  video {
    border: 1px solid #c6c6c6;
  }

  h1,
  h2,
  h3 {
    font-family: $klievit;
  }

  .break {
    margin-top: 7.5em;
  }

  @include breakpoint(medium) {
    //font-size: 2em;
  }

  @include breakpoint(large) {
    //font-size: 3em;
  }
}

.image {
  @extend %clearfix;

  &-25 {
    @include breakpoint(medium) {
      float: left;
      width: 35%;
    }
  }

  &-50 {
    @include breakpoint(medium) {
      float: left;
      width: 50%;
    }
  }

  &-75 {
    @include breakpoint(medium) {
      float: left;
      width: 65%;
    }
  }
}