// defaults
$default-bg-color  : #FFF;
$default-font-color: #4C4C4C;

// breakpoints
$break_medium: 45.5rem;
$break_large : 67.5rem;

// z-index scale
$z-index-1:   1;
$z-index-2:   2;
$z-index-3:   3;
$z-index-4:   4;
$z-index-5:   5;
$z-index-6:   6;
$z-index-7:   7;
$z-index-8:   8;
$z-index-9:   9;
$z-index-10: 10;

// z-index assiments

// fonts
$klievit: 'klievit slab', serif;
$clear: 'clear sans', sans-serif;