<div class="m-main--work">
  <div class="m-main--work__desc">
    <h3>Apex Automotive TV</h3>
    <p><em>TV Network Branding</em></p>
  </div>
  <div class="m-main--work__image">
    <%= image_tag 'apex_logo_final.jpg' %>
    <%= image_tag 'apex_imac.png' %>
  </div>
</div>
