<div class="m-main--work">
  <div class="m-main--work__desc">
    <h3>Bone Machine Typeface</h3>
    <p>Regular and Oblique</p>
    <p><em>Currently working on Bold</em></p>
  </div>
  <div class="m-main--work__image">
    <%= image_tag 'type_1.jpg' %>
    <%= image_tag 'type_2.jpg' %>
    <%= image_tag 'type_3.jpg' %>
  </div>
</div>
