<div class="m-main--work">
  <div class="m-main--work__desc">
    <h3>Skin: Nakedly Beautiful</h3>
    <p><em>UArts Senior Thesis</em></p>
  </div>
  <div class="m-main--work__image">
    <%= image_tag 'skin_diagram.png' %>
    <%= image_tag 'skin_lizard.png' %>
    <%= image_tag 'skin_galaxy.png' %>
  </div>
</div>
