<div class="m-contact">
  <div class="m-contact--container">
    <div class="m-contact--info">
      <h3><%= mail_to 'ericsheltonis@gmail.com', 'ericsheltonis@gmail.com' %> / <a href="tel:6093136326">609·313·6326</a></h3>
    </div>
    <nav class="m-contact--nav">
      <h3>Nav</h3>
      <%= link_to 'Photo', 'photography.html' %>
      <%= link_to 'Résumé', 'shelton-eric_resume.pdf' %>
    </nav>
  </div>
</div>