<div class="m-main--work">
  <div class="m-main--work__desc">
    <h3>UArts School of Design</h3>
    <p><em>Exhibition Branding</em></p>
  </div>
  <div class="m-main--work__image">
    <%= image_tag 'camd_logo_final.jpg' %>
    <%= image_tag 'camd_imac.png' %>
    <%= image_tag 'camd_show.jpg' %>
  </div>
</div>
