---
title: About
---

<div class="m-header m-about">

  <p>Eric Shelton is a designer and photographer based in the New York City area. He is skilled in visual identity, communication systems, environmental graphics, and comprehensive wayfinding sign programs.</p>

  <p>As a designer at Poulin + Morris, he's worked closely with clients and colleagues to create meaningful visual communications that function across multiple touch-points. His clients include Cornell University, New York-Presbyterian, University of Pennsylvania, <i>Graphis</i>, Hudson Square Connection, and MGM National Harbor Resort and Casino.</p>

  <p>Eric believes design thinking is a vital tool to create meaningful change through simplicity and clarity. He strives to push the potential of design by creating work that connects with a wide range of audiences. Through these connections, designers can bring compelling stories to life and have an impact on the world around them.</p>

  <p>He also wonders why about pages are always written in third person.</p>

</div>
