---
title: About
---

<div class="m-header m-about">

  <p>Eric Shelton is a designer and photographer based in the New York City area. He is skilled in visual identity, communication systems, environmental graphics, and comprehensive wayfinding sign programs. As a brand designer at Gensler, he works closely with clients and colleagues to create meaningful communications that function across multiple touch-points.</p>

  <p>His clients include Cornell University, New York-Presbyterian, The University of Pennsylvania, <i>Graphis</i>, The New York Stem Cell Foundation, and MGM National Harbor Resort and Casino.</p>

  <p>Eric aims to create meaningful change through simplicity and clarity, striving to push the potential of design by creating work that connects with a wide range of audiences. Through these connections, he believes designers can bring compelling stories to life and have an impact on the communities and world around them.</p>

  <p>He also wonders why these pages are always written in third person.</p>

</div>
