---
title: Apex Automotive
---

<div class="m-header">
  <h1>Apex Automotive</h1>
  <p>Created a graphic identity for a fictional automotive television channel. This included naming, positioning, strategy, all print
collateral, commercials, social media presence, and video.
Seeing that there was no dedicated television channel to cars,
it was the ideal market.</p>
</div>

<%= image_tag "apex_1.jpg" %>

<video controls>
  <source src="video/mur2.mp4" type="video/mp4">
</video>

<%= image_tag "apex_3.jpg" %>

<video controls>
  <source src="video/bump.mp4" type="video/mp4">
</video>

<div class="break"></div>

<%= partial "partials/_projects" %>