---
title: Eyesite
---

<div class="m-header">
  <h1>Eyesite Philly</h1>
  <p>When an ultra-hip eyeglass boutique in the heart of Center City, Philadelphia has a web prescence aged two decades, the necessity for a completely fresh redesign is a necessity. Working closely with the owner, I photgraphed the boutique, and redesigned their website to bring in new customers, and boost online presence, which has spiked 200% since the relaunch.</p>
</div>

<%= image_tag "eyesite.jpg" %>

<div class="break"></div>

<%= partial "partials/_projects" %>