---
title: Eyesite
---

<div class="m-header">
  <h1>Eyesite Philly</h1>
  <p>Partnering with an eyeglass boutique in Center City, Philadelphia, I created an immersive, responsive web experience.
    Customers increased over 250% since launching the website.</p>
</div>

<div class="image">

<%= image_tag "eyesite_macbook1.jpg" %>
<%= image_tag "eyesite_ipad1.jpg" %>
<%= image_tag "eyesite_phone.jpg" %>

</div>

<div class="break"></div>

<%= partial "partials/_projects" %>

<p>© Eric Shelton, 2017</p>
