---
title: HealthCare4AllPA
---

<div class="m-header">
  <h1>HealthCare4AllPA</h1>
  <p>HealthCare4AllPA is a non-profit organization based in Pennsylvannia, with the sole purpose of implementing
a single-payer health care system statewide. In order to reach a larger audience, the outdated identity was
thrown out, and replaced with a fresh new logo, print material, website, and repositioning.</p>
</div>

<%= image_tag "hc_1.jpg" %>
<%= image_tag "hc_2.jpg" %>

<div class="break"></div>

<%= partial "partials/_projects" %>