---
title: Apex Automotive
---

<div class="m-header">
  <h1>In My America</h1>
  <p>A crowd-sourced mobile application that asked people what they want in the country. What would you do if you were president?
Free healthcare, drug tests for welfare? In this time of divide, I was intrigued by what the American people really wanted.
</p>
</div>

<%= image_tag "ima_1.jpg" %>
<%= image_tag "ima_2.jpg" %>

<video controls>
  <source src="video/ima.mp4" type="video/mp4">
</video>


<div class="break"></div>

<%= partial "partials/_projects" %>

<p>© Eric Shelton, 2017</p>
