---
title: Eric Shelton Design
---

<div class="m-header--lead">
  <p>Eric Shelton is a designer and photographer based in NY who strives for simplicity and clarity.</p>
  <p>He also wrote this himself <br /> in third person.</p>
  <p><%= link_to 'Currently at Poulin+Morris' , 'http://www.poulinmorris.com' %><br />
      <%= link_to 'Say hello', 'mailto:ericsheltonis@gmail.com' %></p>
</div>

<%= partial "partials/_projects" %>
