---
title: Eric Shelton Design
---

<div class="m-header--lead">
  <p>Eric Shelton is a designer and photographer based in NY who strives for simplicity and clarity.</p>
  <p><%= link_to 'Brand designer at Gensler' , 'http://www.gensler.com' %><br />
     <%= link_to 'Say hello', 'mailto:ericsheltonis@gmail.com' %></p>
</div>

<%= partial "partials/_projects" %>

<p>© Eric Shelton, Poulin + Morris, Inc., 2017</p>
