---
title: Eric Sheltons Work
---

<div class="m-header--lead">
  <p>I’m Eric Shelton.</p>
  <p>A designer and photographer based in NY. Learning junkie, builder of
experiences, and avid car enthusiast.</p>
  <p><%= link_to 'Say hello', 'mailto:ericsheltonis@gmail.com' %></p>
</div>

<%= partial "partials/_projects" %>

